@charset "utf-8";

@font-face {
    font-family: 'barton';
    src: url('./font/Barton.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100%;
    top: 0px;
    line-height: 1.4;
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

/*################## Header ##################*/

.header {
    padding: 15px;
    background-color: rgb(145, 196, 31);
    position: fixed;
    width: 100%;
    z-index: 100;
    min-width: 850px;
}

.language {
    top: 5px;
    position: absolute;
    color: #1f1d1d;
}

.top {
    margin: 0 auto;
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.sns {
    top: 10px;
    left: 100px;
    position: absolute;
}

.readme {
    top: 10px;
    position: absolute;
    right: 100px;
}

/* Drawer toggle */

.drawer-toggler {
    position: absolute;
    top: 13px;
    right: 50px;
    z-index: 999;
    height: 28px;
    width: 28px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.drawer-toggler span,
.drawer-toggler span::before,
.drawer-toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: #fafafa;
  border-radius: 20px;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.drawer-toggler span {
    background: transparent;
}
.drawer-toggler span::before {
    top: -6px;
}
.drawer-toggler span::after {
    top: 5px;
}
.drawer-toggler.active > span {
    background: transparent;
}
.drawer-toggler.active > span::before, .menu__toggler.active > span::after {
    top: 0px;
}
.drawer-toggler.active > span::before {
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
}
.drawer-toggler.active > span::after {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    top: 0.35px;
}

/* Drawer menu */

.drawer {
    position: absolute;
    top: -1000px;
    right: -4px;
    z-index: 998;
    background: rgba(145, 196, 31, 0.5);
    width: 100%;
    height: 100vh;
    padding: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    transition: top .5s cubic-bezier(0.820, 0.085, 0.395, 0.895);
}

.drawer-nav {
    padding-top: 15px;
    padding-left: 0;
}

.drawer.active {
    position: fixed;
    top: 50px;
    left: 0;
}

.drawer-menu {
    text-align: center;
    line-height: 90px;
}

.link {
    color: #fefffe;
    font-size: 3rem;
}


/*################## Main ##################*/

main {
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.video-container {
        text-align: center;
}

.intro-video {
    left: 0;
    top: 0;
    z-index: 0;
    width: 75%;
    margin-top: 50px;
}

.intro-message {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    color: whitesmoke;
    font-weight: bold;
    height: 6em;

    opacity: 0;
}

.intro-message.a {
    text-align: left;
    padding-left: 30px;
}

.intro-message.b {
    text-align: right;
    margin-left: -30px;
}

.intro-message.c {
    text-align: left;
    padding-left: 30px;
}

.intro-message.d {
    text-align: right;
    margin-left: -30px;
}

.intro-message.e {
    text-align: left;
    padding-left: 30px;
}

.sticky-elem {
    display: none;
    position: fixed;     
    top : 350px;
    width: 100%;
    font-size: 4rem;
    font-family: 'barton';
}

#show-section-0 #section-0 .sticky-elem,
#show-section-0 #section-1 .sticky-elem,
#show-section-0 #section-2
{
    display: block;
}

.partition-1, .partition-2, .partition-3, .partition-4, .partition-5 {
    width: 0;
    height: 100px;
    background-color: #dbf060;
}

.member-1 {
    background-image: url(./lgm_yourname_serina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

.member-2 {
    background-image: url(./lgm_yourname_asahi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

.member-3 {
    background-image: url(./lgm_yourname_mayu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

.member-4 {
    background-image: url(./lgm_yourname_karen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

.member-5 {
    background-image: url(./lgm_yourname_manaka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 450px;
}

.simpleIntro-1, .simpleIntro-2 {
    display: flex;
}

.simpleIntro-2 {
    margin-top: 69.2px;
    padding-left: 100px;
}

.simpleIntro-1 strong {
    font-size: 4rem;
    margin-right: 0.5em;
    font-family: 'barton';
}

.korean-intro {
    width: 700px;
    font-family: 'Jua', sans-serif;
    font-size: 27px;
    padding-left: 100px;
    padding-right: 69.2px;
}

.simplePhoto-1 {
    background-image: url(./simplePhoto_1.jpg);
    background-repeat: no-repeat;
    width: 550px;
    height: 388px;
    margin-top: 110px;
}

.simplePhoto-2 {
    background-image: url(./simplePhoto_2.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 360px;
    padding-right: 19.2px;
    margin-top: 50px;
}

.japanese-intro {
    width: 700px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 25px;
}

#section-2 {
    padding: 80px 0;
    text-align: center;
}

.owari-container {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
}

.chunk {
    margin-bottom: 70px;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 3rem;
}

.mv-container {
    height: 0;
    padding-bottom: 30%;
    position: relative;
    align-items: center;
}

.mv-container iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 23.55%;
    width: 52.9%;
    height: 100%;
}



/*################## Footer ##################*/

.footer {
    padding: 5rem 1rem 1rem 1rem;
    text-align: center;
    background-color: rgb(145, 196, 31);
}

.footer-nav ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 1.5rem;
}

.copyright {
    font-size: 1rem;
}
